name: Tests

on:
  pull_request:
    paths-ignore:
      - "images/**"
      - "*.md"
  push:
    branches:
      - master
    paths-ignore:
      - "images/**"
      - "*.md"
  workflow_dispatch:

jobs:
  Testing:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        python-version: [3.7, 3.8, 3.9, 3.10]
        os: [ubuntu-latest, macOS-latest, windows-latest]

    steps:
      - uses: actions/checkout@v1
      - name: Set up PDM
        uses: pdm-project/setup-pdm@main
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install dependencies
        run: pdm install
        # On Windows, interactive test doesn't work, so exclude it.
      - name: Run tests
        run: pdm run tox

      - name: Interactive tests
        if: runner.os != 'Windows'
        run: pdm run tox -eextra
