name: Tests

on:
  pull_request:
    paths-ignore:
      - "images/**"
      - "*.md"
  push:
    branches:
      - master
    paths-ignore:
      - "images/**"
      - "*.md"
  workflow_dispatch:

jobs:
  Testing:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        python-version: [3.7, 3.8, 3.9, "3.10"]
        os: [ubuntu-latest, macOS-latest, windows-latest]

    steps:
      - uses: actions/checkout@v1
      - name: Set up PDM
        uses: pdm-project/setup-pdm@main
        with:
          python-version: ${{ matrix.python-version }}

      # - name: Cache pypackages
      #   uses: actions/cache@v2
      #   with:
      #     path: __pypackages__
      #     key: pypackages-${{ matrix.os }}-${{ matrix.python-version }}-${{ hashFiles('pdm.lock') }}
      #     restore-keys: |
      #       pypackages-${{ matrix.os }}-${{ matrix.python-version }}-

      # - name: Cache tox pypackages
      #   uses: actions/cache@v2
      #   with:
      #     path: .tox/**/__pypackages__
      #     key: tox-pypackages-${{ matrix.os }}-${{ matrix.python-version }}-${{ hashFiles('pdm.lock') }}
      #     restore-keys: |
      #       tox-pypackages-${{ matrix.os }}-${{ matrix.python-version }}-

      - name: Install dependencies
        run: pdm install -v
        # On Windows, interactive test doesn't work, so exclude it.

      - name: Run tests
        run: pdm run tox -v

      - name: Interactive tests
        if: runner.os != 'Windows'
        run: pdm run tox -eextra -v
